
<h1>ショッピング</h1>

      <%= form_with model: @cart_item, url: customers_carts_path, local:true do |f| %>
        <%= f.select :amount, options_for_select((1..20).to_a) %>
        <%= f.submit "カートに入れる" %>
      <% end %>