
<%= render 'layouts/customer_header' %>

<div class="container semai">
  <div class="row hikui">
    <div class="col d-flex justify-content-center">
      <h2 class="messeage">
	     ご注文ありがとうございました!
      </h2>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>