// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-visual {
  border: 1px solid #000;
  background-image: url('n.cake2.jpeg');
  height: 350px;
  width: 700px;
  
}

.text-back {
  border: 3px solid #000;
  background-color: white;
  width: 500px;
  margin-top: 100px;
}

.about-image {
  border: 1px solid #000;
  background-image: url('n.cake2.jpeg');
  height: 250px;
  width: 500px;
  margin: 0 auto;

}

.about-title {
  font-size: 100px;
}

.about-text {
  font-size: 25px;
}
