<footer>
  <div class='container mt-4'>
    <div class='row d-flex justify-content-center'>
      <div class='d-flex align-items-center'>
        <%= link_to admin_session_path do %>
        <p class="pr-2 text-warning bg-white border border-dark">©️NaganoCake.inc</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class='container mt-0'>
    <div class='row d-flex justify-content-end'>
      <div class='d-flex align-items-center fa-lg'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
        <a class="fab fa-facebook-square faa-wrench animated-hover" href="https://www.facebook.com/"></a>
        <a class="fab fa-twitter-square faa-wrench animated-hover" href="https://twitter.com/"></a>
        <a class="fab fa-instagram faa-wrench animated-hover" href="https://www.instagram.com/"></a>
      </div>
    </div>
  </div>
</footer>