<footer>
  <div class='container mt-4'>
    <div class='row d-flex justify-content-center'>
      <div class='d-flex align-items-center'>
        <%= link_to admin_session_path do %>
        <p class="pr-2 text-warning bg-white border border-dark">©️NaganoCake.inc</p>
        <% end %>
      </div>
    </div>
  </div>
</footer>